<!--The content below is only a placeholder and can be replaced.-->
<h1>
  {{ title }}!
</h1>
<app-nav></app-nav>
<router-outlet></router-outlet>


<!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="loading">
  <ngx-content-loading 
  [height]="'507'"
  [speed]="'2000ms'"
  [primaryColor]="'#f2f2f2'"
  [secondaryColor]="'#dddddd'">
    <svg:g ngx-rect width="100%" height="400"></svg:g>
    <svg:g ngx-rect width="80%" height="20" y="410" x="40"  rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="80%" height="20" y="435" x="40" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="80%" height="20" y="460" x="40" rx="5" ry="5"></svg:g>
</ngx-content-loading>
</div> -->

<app-message></app-message>


